@import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono');

* {
  outline: none;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.mid-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
}

section {
  height: calc(100vh - 108px);
  background: url('/img/bg4.svg') no-repeat center;
  background-size: 65%;
}

aside {
  border-right: 5px solid black;
  font-family: 'Space Mono', monospace;
  font-size: 28px;
  padding: 50px 30px 50px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 35%;
  width: 200px;
}