@import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono');

* {
  outline: none;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.mid-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @media only screen and (min-width: 1921px) {
    background-size: cover;
    background: url("/img/background-shd.jpg") no-repeat center;
  }
  @media only screen and (min-width: 1367px) and (max-width: 1920px) {
    background-size: cover;
    background: url("/img/background-fhd.jpg") no-repeat center;
  }
  @media only screen and (min-width: 800px) and (max-width: 1366px) {
    background-size: cover;
    background: url("/img/background-hd.jpg") no-repeat center;
  }
}
