@import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono');

.space-mono {
  font-family: 'Space Mono', monospace;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.mid-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
